@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}

u,
ins,
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Normalize */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date] {
  position: relative;
  width: 100px;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

@font-face {
  font-family: "PPMondwest";
  src: url("/fonts/ppmondwest-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ppNeuebit";
  src: url("/fonts/ppneuebit-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.en1 {
  font-family: "PPMondwest", sans-serif;
}
.en2 {
  font-family: "ppNeuebit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.6rem;
  z-index: 9;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.header-inner li {
  padding: 10px;
}
.header-inner li a {
  position: relative;
  display: block;
  color: #111;
  font-size: 1.6rem;
  overflow: hidden;
}
.header-inner li a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -100%);
  transition: all 0.3s;
}
.header-inner li a:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}
.header-inner li a:hover span {
  opacity: 0;
  transform: translateY(100%);
}
.header-inner li a span {
  display: block;
  transition: all 0.3s;
}

.main-cont {
  width: 100%;
  overflow: hidden;
}
.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-visual .star {
  position: absolute;
  opacity: 0.5;
}
.main-visual .star.pink {
  left: 0.1rem;
  bottom: 0.1rem;
}
.main-visual .star.blue {
  right: 0.1rem;
  top: 0;
  bottom: 0.4rem;
}

.sec1 {
  height: 400vh;
}
.sec1 .pin-wrap {
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec1 .pin-wrap .left {
  flex: 1;
  position: relative;
}
.sec1 .pin-wrap .right {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.sec1 .pin-wrap .right .text {
  position: absolute;
  font-size: 4rem;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */