@use 'variable' as *;
@use 'function' as *;

.main {
	&-cont {
		width: 100%;
		overflow: hidden;
	}
  &-visual {
		position: relative;
		width: 100%;
		height: 100vh;

    .star {
			position: absolute;
			opacity: .5;

			&.pink {
					left: rem(1);
					bottom: rem(1);
			}
				&.blue {
					right: rem(1);
					top: 0;
					bottom: rem(4);
			}
    }
  }
    
}

.sec1 {
	height: 400vh;

		.pin-wrap {
			width: 100%;
			height: 100vh;
			max-width: 1600px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

			.left {
				flex: 1;
				position: relative;
			}
			.right {
				flex: 1;
				position: relative;
				overflow: hidden;

				.text {
					position: absolute;
					font-size: rem(40);
					opacity: 0;
				}
			}
		}
}
