<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>2026 PORTFOLIO</title>
	<link rel="stylesheet" href="./css/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- Lottie -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.0/lottie.min.js"></script>
  <!-- GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
  <script src="./js/common.js" defer></script>
  <script src="./js/main.js" defer></script>
</head>

<body>
	<header class="header">
		<div class="header-inner">
			<a href="./index.html" class="logo">
				<img src="./images/logo.svg" alt="로고">
			</a>
			<nav>
				<ul>
					<li><a href="/" data-text="Design"><span>Design</span></a></li>
					<li><a href="./views/publishing/list.html" data-text="Publishing"><span>Publishing</span></a></li>
					<li><a href="https://power-plutonium-b90.notion.site/36ad872075d34cc684955c2e4938421b" data-text="Resume" target="_blank"><span>Resume</span> <i class="ico-blank"></i></a></li>
				</ul>
			</nav>
		</div>
    <button type="button" class="menu-btn" id="toggle">
      <span class="top"></span><span class="middle"></span><span class="bottom"></span>
    </button>
	</header>
  
  <div class="overlay" id="overlay">
    <nav class="overlay-menu en2">
      <ul>
        <li><a href="#">Design</a></li>
        <li><a href="#">Publishing</a></li>
        <li><a href="#">Resume <i class="ico-blank"></i></a></li>
      </ul>
    </nav>
  </div>
	<div class="container">
		<div class="sub-cont">
      <h1 class="title"></h1>

    </div>
	</div>
</body>

</html>